.card {
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  flex-direction: column;
  list-style: none;
}

.card__image {
  width: 282px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  height: 282px;
}

.card__image:hover {
  cursor: pointer;
}

.card__description {
  position: relative;
  display: flex;
  background-color: white;
  color: black;
  padding: 25px 20px;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.card__title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1;
  font-size: 24px;
  line-height: 29.05px;
  font-weight: 900;
  margin: 0 auto;
}

.card__like-button {
  background: transparent url(../images/heart1.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
  opacity: 1;
  cursor: pointer;
}

.card__like-button_active {
  background-image: url(../images/Union.svg);
}

.card__like-button:hover {
  opacity: 0.5;
}

.card__image-container {
  position: relative;
  width: 282px;
  height: 282px;
}

.card__delete-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-image: url(../images/Trash.svg);
  cursor: pointer;
}

.card__delete-button:hover {
  background-image: url(../images/Trash.hover.svg);
  opacity: 0.7;
}
