.footer {
    display: flex;
    justify-content: center;
    max-width: 318px;
    height: 18px;
    font-weight: 400px;
    margin-top: 67px;
    margin-bottom: 60px;
    margin-left: 200px;
    color: grey;
  }

  @media screen and (max-width: 480px) {
    .footer {
      margin-left: 19px;
      display: flex;
      justify-content: center;
      font-family: "Inter", Arial, sans-serif;
    }
  }