.footer {
    display: flex;
    justify-content: space-between;
    color: rgba(84, 84, 84, 1);
    font-size: 18px;
    line-height: 21.78px;
    padding: 67px 200px 60px 200px;
  }

  p{
    margin: 0;

  }

  @media screen and (max-width: 480px) {
    .footer {
     padding: 28px 19px 36px 19px;
     width: 282px;
     display: flex;
    justify-content: left;
    font-family: "Inter", Arial, sans-serif;
    }
  }