.header {
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;
    width: 100%;
    min-height: 33px;
    margin-top: 45px;
    border-bottom: 1px solid rgba(84, 84, 84, 1);
    padding-bottom: 37px;

  @media screen and (max-width: 480px) {
    .header {
      max-width: 320px;
    }
  }