.page {
  background-color: black;
  color: white;
  font-family: "Inter", "Arial", sans-serif;
  display: flex;
  flex-direction: column;
}

.page__section {
  max-width: 880px;
  position: relative;
  margin: 0 auto;
}

.page__content {
  padding: 28px 19px 0 19px;
  width: 100%;
  box-sizing: border-box;
}

@media screen and (max-width: 480px) {
  .page__section {
    max-width: 282px;
    width: 100%;
  }

  .page__content {
    padding: 28px 0 0;
  }
}
