.page {
    background-color: black;
    color: white;
    font-family: "Inter", "Arial", sans-serif;
  }
  
  .page__section {
    max-width: 880px;
    width: 100%;
    position: relative;
  }
  
  .page__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    min-height: 100vh;
    padding: 45px 200px 0 200px;
  }