.profile {
    display: flex;
    align-items: center;
    padding-top: 40px;
  }
  
  .profile__info {
    display: grid;
    grid-template-areas:
      "title button"
      "description description";
    grid-template-columns: minmax(auto, 373px) auto;
    margin-bottom: 36px;
    font-family: "Inter" Arial, sans-serif;
  }
  
  .profile__edit-button {
    background: transparent url(../images/edit.svg) center no-repeat;
    height: 24px;
    width: 24px;
    padding: 15px 0 9px 18px;
    grid-area: button;
    cursor: pointer;
    border-radius: 1px;
    border-color:rgba(255, 255, 255, 1);
  }

  .profile__edit-button:hover{
    border-color: rgb(153, 153, 153);
  }
  
  .profile__add-button {
    background: transparent url(../images/add.svg) center no-repeat;
    width: 150px;
    height: 50px;
    grid-area: button;
    margin: auto;
    cursor: pointer;
    border-radius: 2px;
    border-color: rgba(255, 255, 255, 1);
  }

  .profile__add-button:hover{
    background-image: url(../images/addhover.svg);
    border-color:  rgb(153, 153, 153);
  }
  
  .profile__title {
    font-size: 42px;
    line-height: 48px;
    font-weight: 500;
    grid-area: title;
    margin: 0;
  }
  
  .profile__description {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    grid-area: description;
    margin: 0;
  }
  
  .profile__image {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    object-fit: cover;
    background-position: center;
    margin-right: 24px;
  }

  @media screen and (max-width: 480px) {
    .profile {
      font-family: "Inter", Arial, sans-serif;
      flex-direction: column;
      padding: 28px 19px 0 19px;
    }

    .profile__info{
      text-align: center;
    }

    .profile__title{
      font-size: 22px;
      line-height: 26.63px;
      text-align: center;
      margin: 30px 19px 0 19px;
    }

    .profile__description{
      font-size: 14px;
      line-height: 16.94px;
      text-align: center;
      margin: 14px 19px 0 19px;
    }
    .profile__edit-button {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-top: 25px;
      width: 18px;
      height: 18px;
    }
    .profile__add-button {
      width: 282px;
      height: 50px;
      margin: 36px 19px 36px 19px;
    }
  }